<div class="container-body">
    <div class="sidebar">
        <ul>
            <li class="dashboard">
                <i class="fa fa-dashcube"></i>
                <a href="/api/auth/dashboard/<%=user._id%>">Dashboard</a>
            </li>
            <li>
                <i class="fa fa-ticket"></i>
                <a href="/api/busTicket/getAll/<%=user._id%>">All Tickets</a>
            </li>
            <li>
                <i class="fa fa-credit-card-alt"></i>
                <a href="/api/wallet/topup/<%=user._id%>">Top Wallet</a>
            </li>
            <li>
                <i class="fa fa-credit-card-alt"></i>
                <a data-bs-toggle="modal" data-bs-target="#myModal" href="#">Buy Ticket</a>
            </li>
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Buy New Ticket</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/api/busTicket/addnewbusticket/<%=user._id%>" method="post">
                                <div class="form-group">
                                    <label for="productCategories">Name</label>
                                    <select class="form-control" name="name" id="name">
                                    
                                      <option>General Bus Ticket</option>
                                     
                                    </select>
                                  </div>
                                  <div class="form-group">

                                    <label for="amount">Price (NGN)</label>
                                    <select class="form-control" name="amount" id="amount">

                                      <option>500</option>
                                      
                                    </select>
                                  </div>

                                  <button class="btn btn-primary mt-3">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
        <!--  -->
            <li>
                <i class="fa fa-info-circle"></i>
                <a href="/api/busTicket/one/<%=user._id%>">Profile</a>
            </li>
        </ul>
    </div>