<%- include("partials/header") %>
<%- include("partials/sidenav") %>
<main>
    <div class="">
        <h2 class="">All Tickets of <%= user.firstName %></h2> 
        <a href="/api/auth/dashboard/<%=user._id%>">Back</a>
    </div>

    <div class="planning">
        <% user.busTicket.forEach(function(busTicket) { %>
        <div class="item">
            <div class="left">
                <div class="icon">
                    <i class='bx bx-book-alt'></i>
                </div>
                <div class="details">
                    <h5><%= busTicket.name %></h5>
                    <p>Used: <%= busTicket.isUsed %></p>
                    <p class="balance">Price: NGN<%= busTicket.amount %></p>
                    <p class="cardholder">Ticket ID: <%= busTicket.id%></p>
                    <p class="cardholder">Pin: <%= busTicket.pin%></p>
                    <p class="cardholder">Public Token: <%= busTicket.publicToken%></p>
                </div>
            </div>
            <!-- incase you want to activate a more info button -->
            <!-- <i class='bx bx-dots-vertical-rounded'></i> -->
        </div>
        <% }) %>
        </div>
     

   
</main>

<aside class="right-section">
    <div class="mt-5 pt-3">
        
        <h3 style="text-align: center;">
           Buy a new Ticket
        </h3>
        
         <div>
    
            <div style="width: 70%; margin: 30px auto; ">
                <form action="/api/busTicket/addnewbusticket/<%=user._id%>" method="POST">
                    <div class="form-group" style="padding: 10px; ">
                        <label for="name">Name</label>
                                    <select class="form-control" name="name" id="name">
                                
                                      <option>General Ticket</option>
                                      
                                    </select>
                    </div>
                        <div class="form-group" style="padding: 10px; ">

                            <label for="amount">Price</label>
                            <select class="form-control" name="amount" id="amount">
                              <option>500</option>
                            </select>
                          </div>
                    
                   <div class="form-group" style="padding: 10px; " >
                        <button class="btn btn-lg btn-danger btn-block">Submit</button>
                   </div>
                    </form>
                    <br>
                    <a href="/api/auth/dashboard/<%=user._id%>">Dashboard</a>
            </div>
           
         </div>
    </div>
    </aside>
        
   
<%- include("partials/footer") %>