<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Bus Ticketing System</title>
</head>

<body>

<div class="container">

<h1>Hello Hassan</h1>

<main>
    <div class="">
        <h2 class="">All Tickets</h2> 
    </div>
    <div class="planning">
        <% busTickets.forEach(function(busTicket) { %> <!-- Use busTickets -->
        <div class="item">
            <div class="left">
                <div class="icon">
                    <i class='bx bx-book-alt'></i>
                </div>
                <div class="details">
                    <h5><%= busTicket.name %></h5>
                    <h5>Owner: <%= busTicket.user.firstName %> <%= busTicket.user.lastName %></h5> <!-- Access the populated user field directly -->
                    <p>Used: <%= busTicket.isUsed %></p>
                    <p class="balance">Price: NGN<%= busTicket.amount %></p>
                    <p class="cardholder">Ticket ID: <%= busTicket.id %></p>
                </div>
            </div>
            <!-- incase you want to activate a more info button -->
            <div>
                <div class="show-popup">
                    <i class='bx bx-dots-vertical-rounded'></i>
                </div>
    
                <div class="popup">
                    <div class="close-btn">&times;</div>
                     
                         <div class="form">
                             <h5 >Allow Customer to use Ticket</h5>
                             <form  action="/api/busTicket/verifyAndUseTicket" method="POST">
                             <div class="form-element">
                                <h5>By clicking on this button, you specify that this ticket is being used. Once you click on the button the ticket will be marked as used
                             </h5>                     
                         </div>

                         <!-- <div class="form-group">
                            <label for="isUsed">Approve</label>
                            <select class="form-control" name="isUsed" id="isUsed">
                                
                                <option>True</option>
                               
                                
                              </select>

                          </div> -->
                          <div class="form-group">
                            <label for="ticketId">Ticket ID</label>
                            <input class="form-control" type="text" name="ticketId" placeholder="ticketId" value="<%= busTicket.id %>">
                          </div>
                          <div class="form-group">
                            <label for="pin">Pin</label>
                            <input class="form-control" type="text" name="pin" placeholder="pin">
                          </div>

                             <div class="form-element">
                                 <button class="">Use Ticket</button>
                             </div>
                         </form>
                         </div>
                 </div>
            </div>
        </div>
        <% }) %>
    </div>
   
</main>        


</div>
<script src="/js/others.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
</body>
</html>
